p{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color:rgba(8, 43, 43, 0.63);
}

.parrafotitulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color:rgba(71, 3, 85, 0.815); 
}