p{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color:rgba(179, 55, 33, 0.63)
}

.parrafotitulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color:rgba(71, 3, 85, 0.815); 
}

.img-p{
border-radius: 50%;
}